.comment,
.rating {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.comment>div,
.rating>div {
  padding-right: 8px;
}

@media (max-width: 535px) {
  .comment {
    padding-left: 8px;
  }
  .comment>div {
    padding-right: 8px;
  }
}

.info-ratings,
.info-comments {
  margin-left: 16px;
  padding-left: 16px;
}

.info-comments {
  border-left: 2px solid #c1c1c1;
}

.info-comments>div {
  /* Slightly smaller font size for indented comments that refer to an information: */
  font-size: 0.9em;
}

.info-comments .comment {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.rating {
  background-color: lightgray;
  padding: 8px;
  margin-bottom: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column>h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

.column>p {
  margin-top: 0;
}

.info-comments .column>p {
  margin-bottom: 0;
}